body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(".../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_item a{
    color: blue;
}

.skip a{
    color: blue;
}

.card header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 7px 7px 0 0;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card{
    flex-basis: 450px;
}   

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    flex-basis: 300px;
}

@keyframes logo_grow{
    from {
      width: 50px;
      opacity: 0;
    }
  
    to {
      width: 425px;
      opacity: 1;
    }
  }

#logo{
    animation-name: logo_grow;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@media screen and (min-width:850px){
    header{
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
	    min-height: 75px;
	    width: 100%;
    }

    .nav_links{
        flex-direction: row;
    }

    .card{
        flex-basis: 250px;
    }

    .card header{
        position: static;
    }

    h1, h2 {
        padding-top: 150px; 
	    margin-top: -140px;
    }
}

@media (prefers-reduced-motion) {
    #logo{
        animation: none;
    }
}

@media print{
    
    .card_big {
        -webkit-transform: initial;
        transform: initial;
    }

    body{
        background-image: none;
    }

    h2 #gallery{
        display: none;
      }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        max-width: 450px;
        margin: auto;
    }

    nav{
        width: 100%;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing{
        display:flex;
        align-items: flex-end;
    }

    .card{
        border: 2px solid #45ADDD;
        flex-basis: 250px;
    }

    .gallery{
        display: none;
    }

    .card li:nth-child(odd)::before {
        content: "👍";   
    }

    .card li:nth-child(even)::after {
        content: "👍";   
    }
}