body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(".../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links:link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links:visited{
    color:#0000EE;
}