body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(".../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links:visited{
    color:#0000EE;
}

.card header{
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    flex-basis: 450px;
}   

.gallery{
    display: flex;
    border: 10px solid #50C7C7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 300px;
}